         <div class="col-xl-6 col-md-6">
                        <div class="card card-shadow mb-4">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-danger">
                                    <div class="custom-title">
                                        Statistique
                                        <ul class="nav nav-pills nav-pill-primary nav-pill-custom nav-pills-sm float-right " id="pills-tab2" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="pills-today-tab2" data-toggle="pill" href="#pills-weekly2" role="tab" aria-selected="true">Nombre</a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="custom-post-title">Statistique etat du service des equipements</div>
                                </div>
                            </div>
                            <div class="card-body pt-5 pb-4">
                                <div class="tab-content" id="pills-tabContent2">
                                    <div class="tab-pane fade show active" id="pills-weekly2" role="tabpanel" aria-labelledby="pills-today-tab">
                                        <div class="row">
                                            <div class="col-12 col-xl-7 col-md-6 text-center">
                                                <canvas id="doughnut_chart" class="mb-4" ></canvas>
                                                <small class="text-muted">Realtime data update instantly</small>
                                            </div>
                                            <div class="col-12 col-xl-4 col-md-6 text-muted mt-xl-4">
                                                <ul class="list-unstyled f12">
                                                    <li class="list-widget-border mb-3 pb-3">
                                                        <i class="fa fa-circle pr-2" style="color: #cae59b"></i> 2
                                                        <span class="float-right">En service</span>

                                                    </li>
                                                    <li class="list-widget-border mb-3 pb-3">
                                                        <i class="fa fa-circle pr-2" style="color: #fcdd82"></i> 12
                                                        <span class="float-right">Non attribut</span>
                                                    </li>
                                                    <li class="list-widget-border mb-3 pb-3">
                                                        <i class="fa fa-circle pr-2 " style="color: #f79490"></i> 14
                                                        <span class="float-right">En panne</span>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>