{% extends 'base.html'%}


{% block content %}

  <!--main content wrapper-->


  <div class="content-wrapper">
        
            <!-- <div class="container-fluid"> -->
        <!--creative states-->
<!--          creative-state-area-->

        <div class="creative-state-area bg-white">
            <div class="row">
                <div class="col-lg-7 col-12">


                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            {{message}}
                          
                        </div>
                        {% endfor %}
                    {% endif %}


                </div>

                          <div class="col-lg-5  col-12 text-lg-right">


                </div>


                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="creative-state-icon bg-danger text-center pull-left">
                       <i class="fa fa-user-md" style="font-size:60px;"></i>
                    </div>
                    <div class="creative-state-info text-center pull-left">
                         <a href="#">
                        <h3 class="mt-4">{{nbr_docteur}}</h3>
                        <p class="mb-0">TOTALE docteurs</p>
                         </a>


                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="creative-state-icon bg-warning text-center pull-left">
                          <div class="preview col-sm-6 col-md-4 col-lg-3"><i class='fas fa-user-nurse' style='font-size:60px;color:red'></i></div>
                    </div>
                    <div class="creative-state-info text-center pull-left">
                        <a href="#">
                        <h3 class="mt-4">{{nbr_infermier}}</h3>
                        <p class="mb-0">totale infirmiers</p>
                        </a>


                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="creative-state-icon bg-purple text-center pull-left">
                          <div class="preview"> <i class="icon-direction"></i>  </div>
                    </div>
                    <div class="creative-state-info text-center pull-left">

                         <a href="#">
                        <h3 class="mt-4">{{nbr_service}}</h3>
                        <p class="mb-0">totale services</p>
                        </a>
                        <div class=" widget-action-link">
<!--                            <small class="text-success weight700">5% <i class="fa fa-long-arrow-up"></i></small>-->
                        </div>

                    </div>
                </div>


                 <div class="col-lg-3 col-md-6 mb-4">
                    <div class="creative-state-icon bg-purple text-center pull-left">
                         <i class="fa fa-hospital-o" style="font-size:60px;"></i>
                    </div>
                    <div class="creative-state-info text-center pull-left">
                        <a href="#">
                        <h3 class="mt-4">{{nbr_salle}}</h3>
                        <p class="mb-0">totale salles</p>
                        </a>
                        <div class=" widget-action-link">
<!--                            <small class="text-success weight700">5% <i class="fa fa-long-arrow-up"></i></small>-->
                        </div>

                    </div>
                </div>
            </div>

        </div>


    <!--creative states-->

            <div class="container-fluid">
            <div class="row">
<!--statique-->

                   <div class=" col-xl-12 col-md-6">
                    <div class="card card-shadow mb-4 ">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-danger">
                                <div class="custom-title">
                                    Statistique Service
                                    <a href="javascript:;" class="btn-ordering btn-primary float-right ml-2">
                                        <i class="fa fa-sort-alpha-asc"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-today" role="tabpanel" aria-labelledby="pills-today-tab">
                                    <ul class="list-unstyled mb-0 list-widget">
                                        {% for list in service%}

                                        <li>
                                            <div class="media mb-4">

                                                <div class="media-body list-widget-border">

                                                    <div class="float-left">
                                                        <h6 class="text-uppercase mb-0">{{list.nom_service}}</h6>
                                                        <span>nombre des salles </span>
                                                    </div>
                                                    <div class=" float-right">
                                                        <strong>{{list.salle_service.count}}<i class="fa fa-level-up text-success pl-2"></i></strong>
                                                    </div>

                                                </div>

                                            </div>
                                        </li>

                                         {% endfor %}
                                                 {%if list_direction.has_other_pages%}

                                              <div class="container " >
                                                  <ul class="pagination" style="margin-left: 20px">
                                                    {%if list_direction.has_previous%}
                                                      <li class="page-item"><a class="page-link" href="?page={{list_direction.previous_page_number}}"><i class="ti-angle-left"></i></a></li>
                                                    {%endif%}

                                                    {%for i in list_direction.paginator.page_range %}
                                                       <li class="page-item"><a class="page-link"href="?page={{i}}"><span>{{i}}</span></a></li>
                                                     {%endfor%}
                                                    {%if list_direction.has_next%}
                                                      <li class="page-item"><a class="page-link" href="?page={{list_direction.next_page_number}}"><i class="ti-angle-right"></i></a></li>
                                                    {%endif%}
                                                  </ul>
                                              </div>

                                    {%endif%}




                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

<!--                auterjki-->

                    </div>
                </div>
            </div>

        <!--/creative states-->



        <!--footer-->
        <!-- </div> -->

    </div>
        <!--/footer-->




{% endblock content %}