{% extends 'base.html'%}
{% block content %}

  <div class="content-wrapper">

        <div class="container-fluid">

            <!--page title-->
            <div class="page-title mb-4 d-flex align-items-center">
                <div class="mr-auto">
                    <h4 class="weight500 d-inline-block pr-3 mr-3 border-right">Tables Salle & Service</h4>
                    <nav aria-label="breadcrumb" class="d-inline-block ">
                        <ol class="breadcrumb p-0">
                             <li class="breadcrumb-item"><a href="{% url 'personne:home' %}">Accueil</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--/page title-->
                               {% if messages %}
                                 {% for message in messages %}
                                     <div class="alert alert-{{message.tags}}">
                                        {{message}}
                                     </div>
                                 {% endfor %}
                               {% endif %}

            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="card card-shadow mb-4">


                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-primary">
                                <div class="custom-title">Salle</div>
                            </div>
                        </div>


                        <ul type="none" class="object-tools">

                              <li>

                                <a href="{% url 'personne:add_salle' %}" title="Ajouter salle" class="btn btn-primary p-1">
                                    Add salle  <big>+</big>
                                </a>

                              </li>



                       </ul>

                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Numero salle </th>
                                    <th scope="col">Nom service</th>
                                     <th scope="col">Nom infermier</th>

                                    <th scope="col">Action</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% for list in salles %}
                                <tr>

                                    <td>{{ list.numero_salle}}</td>
                                    <td>{{ list.nom_service}}</td>
                                    <td>{{ list.nom_infermier}}</td>

                                    <td>
                                                <a class="text-dark btn btn-outline-primary p-2 btn-md" href="{% url 'personne:update_salle' list.id %}"  title="Modifier "><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                             <a class="btn btn-outline-danger p-2 btn-md " href="{% url 'personne:delete_salle' list.id %}" title="Supprimer " >  <i class="fa fa-trash-o" aria-hidden="true"></i>  </a>
                                    </td>


                                </tr>



                                {% endfor%}


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

<!--                deuxieme table-->

                <div class="col-xl-6 col-md-6">

                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-warning">
                                <div class="custom-title">Specialite</div>
                            </div>
                        </div>

                        <ul type="none" class="object-tools">
                              <li>

                                <a href="{% url 'personne:add_specialite' %}"  title="Ajouter specialiten" class="addlink btn btn-primary p-1">
                                    Add specialite  <big>+</big>
                                </a>
                              </li>
                       </ul>


                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                     <th scope="col">Nom specialite</th>


                                    <th scope="col">Action</th>


                                </tr>
                                </thead>
                                <tbody>
                                {% for list in specialites %}
                                        <tr>
                                               <td>{{ list.specialite }}</td>


                                            <td>
                                                <a class="text-dark btn btn-outline-primary p-2 btn-md" href="{% url 'personne:update_specialite' list.id %}"  title="Modifier "><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                             <a class="btn btn-outline-danger p-2 btn-md " href="{% url 'personne:delete_specialite' list.id %}" title="Supprimer " >  <i class="fa fa-trash-o" aria-hidden="true"></i>  </a>


                                            </td>


                                        </tr>
                                 {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>
            </div>

        </div>



    </div>


{% endblock %}